Source: geheimchat
Section: gnome
Priority: optional
Maintainer: carlosmintfan <118076740+carlosmintfan@users.noreply.github.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Rules-Requires-Root: no

Package: geheimchat
Architecture: all
Depends: python3,
         python3-gi,
         python3-requests,
         ${misc:Depends}
Description: Der Akemsoft-Geheimchat
